<div class="image-bg">
    <div class="container-fluid d-flex align-items-center justify-content-between home">
        <!-- INFO LEFT -->
        <div class="text-white">
            <h2 class="subtitle text-uppercase">So, you want to travel to</h2>
            <h3 class="title">space</h3>
    
            <p class="info-text">
                Let’s face it; if you want to go to space, you might as well genuinely go to
                outer space and not hover kind of on the edge of it. Well sit back, and relax
                because we’ll give you a truly out of this world experience!
            </p>
        </div>
    
        <!-- INFO RIGHT BUTTON  -->
        <div class="circle-hover-contain">
            <span 
                class="btn btn-home text-uppercase rounded-circle d-flex justify-content-center align-items-center">
                Explore
            </span>
        </div>
    </div>
    
</div>