<div class="image-bg d-flex flex-end">
    <div class="container m-auto cont-section">

        <!-- SECTION -->
        <div class="row d-flex pt-5">

            <!-- INFO CREW -->
            <div class="col-7">
                <div>
                    <h1 class="crew subtitle"><span class="subtitle-number"> 02 </span>{{ title | uppercase }}</h1>
                    <h2 class="subtitle profession text-uppercase">{{ currentCrew.role }}</h2>
                    <h3 class="title crew">{{ currentCrew.name }}</h3>
                    <p class="description">{{ currentCrew.bio }}</p>
                </div>

                <ul class="crew-list d-flex">
                    <li
                        *ngFor="let crew of crewList
                        let i = index"
                        (click)="changeCurrent(i)"
                        class="text-white circle-item-list"
                        [ngClass]="
                        {
                            'active': currentCrew === crew,
                        }"
                    >
                     
                    </li>
                </ul>
            </div>

            <!-- IMAGE CREW -->
            <div class="col-5 position-relative">
                <img 
                    class="position-absolute crew-img"
                    [src]="currentCrew.images.png"
                    [alt]="currentCrew.name">
            </div>
        </div>
        
    </div>
</div>
