<div class="image-bg destination d-flex">
    <div class="container my-auto dest">
        <div class="row">
            <div class="col">
                <h3 class="subtitle mb-5"><span class="subtitle-number"> 01 </span>{{ title | uppercase }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <img 
                    class="mt-5"
                    [src]='Image' [alt]="Image">
            </div>
            <div class="col-5">
                <ul class="destination-list list-group d-flex flex-row">
                    <li 
                    *ngFor="let destination of destinationList"
                    class="text-white subtitle destination-item"
                    (click)="destination"
                    >
                    {{ destination | uppercase }}
                    </li>
                </ul>
                <h1 class="title">{{ Title }}</h1>
                <p class="description">{{ Description }}</p>

                <hr class="text-white line-dest">

                <div class="travel-distance d-flex">
                    <div class="one">
                        <h4 class="title-detail text-uppercase"> avg. distance</h4>
                        <span class="number">{{ distanceKM | uppercase }}</span>
                    </div>
                    <div class="two">
                        <h4 class="title-detail text-uppercase"> est. travel line</h4>
                        <span class="number">{{ distanceDays | uppercase }}</span>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
