<div class="image-bg">
    <div class="container-fluid h-100 d-flex flex-column justify-content-center pt-5">
        <!-- TITLE  -->
        <div class="row">
            <div class="col">
                <h1 class="tech subtitle"><span class="subtitle-number"> 03 </span>{{ title | uppercase }}</h1>
            </div>
        </div>

        <!-- SECTION CONTENT -->
        <div class="row">
            <div class="col-8 d-flex c-info justify-content-center">
                <div class="c-1 d-flex align-items-center">
                    <ul class="tech-list d-flex flex-column">
                        <li
                            *ngFor="let tech of techList;
                            let i = index"
                            (click)="changeCurrent(i)"
                            class="tech-link"
                            [ngClass]="{
                                'active': currentTech === tech
                            }"
                        >
                        {{ i + 1 }}
                        </li>
                    </ul>
                </div>
                <div class="-c2 d-flex justify-content-center flex-column">
                    <span class="subtitle text-uppercase">the terminology...</span>
                    <h2 class="no-root title">{{ currentTech.name }}</h2>
                    <p class="description">{{ currentTech.description }}</p>
                </div>
            </div>

            <!-- CONTENT IMAGE -->
            <div class="col-4 cont-img">
                <img 
                    class="tech-img"
                    [src]="currentTech.images.portrait"
                    [alt]="currentTech.name">
            </div>
        </div>
    </div>
</div>