/* You can add global styles to this file, and also import other style files */
:root{

    /* FONTS */
    --barlow-font-cond: 'Barlow Condensed', sans-serif;
    --bellefoir-font: 'Bellefair', serif;
    --barlow-font: 'Barlow', sans-serif;

    /* COLOR */
        /* PRIMARY */
    --primary1-white: #fff;

        /* TERTIARY */
    --tertiary-white: #D0D6F9;
    --tertiary-black: #0B0D17;
    --tertiary-gray: #979797;
}

html, body {
    width: 100%;
    height: 100%;
}


/* STYLE BG HOME */

/*
.bg-img-home {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/home//background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
*/