/* You can add global styles to this file, and also import other style files */
:root{

    /* FONTS */
    --barlow-font-cond: 'Barlow Condensed', sans-serif;
    --bellefoir-font: 'Bellefair', serif;
    --barlow-font: 'Barlow', sans-serif;

    /* COLOR */
        /* PRIMARY */
    --primary1-white: #fff;

        /* TERTIARY */
    --tertiary-white: #D0D6F9;
    --tertiary-black: #0B0D17;
    --tertiary-gray: #979797;
}

html, body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

.cont-section {
    padding: 0 6rem;
}
/* GLOBAL STYLES TITLE, SUBTITLE, TEXT-INFO*/
.subtitle {
    font-family: var(--barlow-font-cond);
    color: var(--tertiary-white);
    letter-spacing: .2rem;
    font-weight: 400;
    width: fit-content;
}

.title {
    font-family: var(--bellefoir-font);
    text-transform: uppercase;
    font-size: 9.4rem;
    color: var(--primary1-white);
    margin: 1rem;
}


.no-root.title {
    font-size: 3.5rem;
    margin: 1.2rem 0;
}
.description {
    font-family: var(--barlow-font);
    font-size: 1.1rem;
    max-width: 28rem;
    color: var(--tertiary-white);
}

.subtitle-number {
    color: var(--primary1-white);
    opacity: 0.5;
}

.title-detail {
    font-family: var(--barlow-font-cond);
    color:  var(--tertiary-white);
    font-size: .9rem;
    letter-spacing: .2rem;
    font-weight: 400;
}

.travel-distance .number {
    font-family: var(--bellefoir-font);
    color: var(--primary1-white);
    font-size: 1.75rem;
} 

/* STYLE BG HOME */

/*
.bg-img-home {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/home//background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
*/